.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    border-top: 1px solid black;
    color: brown;
    margin-top: 0;
}

@media screen and (max-width: 576px) {
    .footer {
        padding-top: 10px;
    }
}